---
import Layout from '~/layouts/PageLayout.astro';

import Brands from '~/components/widgets/Brands.astro';
import Steps from '~/components/widgets/Steps.astro';
import Stats from '~/components/widgets/Stats.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features3 from '~/components/widgets/Features3.astro';
import BentoImages from '~/components/widgets/BentoImages.astro';

import imgFlightBanking from "~/assets/images/flight_banking.jpg";
import imgDrawingFly from "~/assets/images/drawing_fly.png";
import imgParked from "~/assets/images/parked.jpg";
import imgWorkingFuselage from "~/assets/images/working_fuselage.jpg";
import imgFlyday2Group from "~/assets/images/flyday2_group.jpg";
import imgFlightHD from "~/assets/images/flight_HD.jpg";
import imgRunwayHD from "~/assets/images/runway_HD.jpg";
import imgCAD from "~/assets/images/cad.png";
import Button from '~/components/ui/Button.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Design Build Fly @ JHU',
  ignoreTitleTemplate: true,
};

---

<Layout metadata={metadata}>
  <HeroText>
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Design Build Fly</span>
      - RC plane building team at Johns Hopkins University
    </Fragment>
    
    <Fragment slot="subtitle">
      We at <span class="font-semibold">Design Build Fly</span> are a multi-disciplinary club 
      unified in our mission of designing and building an RC-plane from scratch to compete at the annual
      <a class="underline text-accent" href="https://www.aiaa.org/dbf">AIAA DBF competition</a></span>
    </Fragment>
  </HeroText>
  <Steps
    isReversed
    title="Discover what we do!"
    subtitle="Step into any aspect of plane production that interests you"
    items={[
      {
        title: 'Design',
        description:
          'Each year, new constraints are required for our plane, giving us ample opportunity to come up with creative solutions. \
          Our team utilizes CAD and other software to optimize our plane!',
        icon: 'tabler:ruler',
      },
      {
        title: 'Build',
        description:
          'With access to the entirety of the Mechanical Engineering department\'s tools, we piece together our plane to turn it form \
          dream to reality.',
        icon: 'tabler:hammer',
      },
      {
        title: 'Fly',
        description:
          'Finally, we put our plane to the test! It may be more apt to call this step \'Crash,\' but each crashed prototype is experience \
          for both our flyers and designers to utilize for the next prototype.',
        icon: 'tabler:plane-tilt',
      },
    ]}
    image={{
      src: '~/assets/images/attaching_wing.jpg',
      alt: '2024 competition flight',
    }}
  />

  <!-- Stats Widget ****************** -->

  <Stats
  stats={[
      { icon: 'tabler:users', title: 'Members', amount: '7' },
      { icon: 'tabler:school', title: 'Alumni', amount: '2' },
      { icon: 'tabler:brand-instagram', title: 'Followers', amount: '140' },
      { icon: 'tabler:currency-dollar', title: 'Funding', amount: '$1,500' },
    ]}
  />

  <!-- Bento Box Images -->
  <BentoImages
    templateAreas={"[grid-template-areas:'img1_img1_img1_img1''img3_img3_img2_img2''img6_img5_img5_img4']"}
    images={
      [
        {
          src: imgFlightBanking,
          alt: "flight banking",
          area:"[grid-area:img1]"
        },
        {
          src: imgRunwayHD,
          alt: "about to fly at competition",
          area:"[grid-area:img3]"
        },
        {
          src: imgParked,
          alt: "parked on grass",
          area:"[grid-area:img2]"
        },
        {
          src: imgDrawingFly,
          alt: "CAD drawing in flight configuration",
          area:"[grid-area:img4]"
        },
        {
          src: imgCAD,
          alt: "in-editor CAD screenshot",
          area:"[grid-area:img5]"
        },
        {
          src: imgFlyday2Group,
          alt: "group photo during a fly day",
          area:"[grid-area:img6]"
        },
      ]
    }
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
    <Fragment slot="below">
      <Button
        type="button"
        text="See more images"
        variant="primary"
        href={getPermalink("/images")}
        class="flex justify-self-center self-center"
      />
    </Fragment>
  </BentoImages>

  <!-- Add info on meeting times/location -->
  <Features3
    title="Let's Connect!"
    columns={3}
    items={[
      {
        title: "Email us at dbf@jhu.edu",
        description: "We'll get back to you as soon as possible!",
        icon: "tabler:mail",
      },
      {
        title: "Join us for a meeting",
        description: "3100 Wyman Park Dr\nBaltimore, MD 21211",
        icon: "tabler:map-pin",
      },
      {
        title: "Follow us on Instagram @jhu_dbf",
        description: "Stay up-to-date on upcoming events",
        icon: "tabler:brand-instagram",
      },
    ]}
  >
  </Features3>

  <Brands
    title="A special thanks to our sponsors"
    images={[
      {
        src: "https://www.lockheedmartin.com/content/dam/lockheed-martin/general/lm-logo.svg",
        alt: "placeholder logo",
      },
      {
        src: "https://www.lockheedmartin.com/content/dam/lockheed-martin/general/lm-logo.svg",
        alt: "placeholder logo",
      },
      {
        src: "https://www.lockheedmartin.com/content/dam/lockheed-martin/general/lm-logo.svg",
        alt: "placeholder logo",
      },
    ]}
  >  
  </Brands>
</Layout>
