---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import Contact from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Cloud Hoppers — Design Build Fly @ JHU',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  
  <Hero>
    <Fragment slot="title">
      Design Build Fly team at Johns Hopkins University -  
      <span class="text-accent dark:text-white highlight">Cloud Hoppers</span>
    </Fragment>
    
    <Fragment slot="subtitle">
      We at <span class="font-semibold">Cloud Hoppers</span> are a multi-disciplinary club 
      unified in our mission of designing and building an RC-plane from scratch to compete at the annual
      <a class="underline text-accent" href="https://www.aiaa.org/dbf">AIAA DBF competition</a></span>
    </Fragment>
  </Hero>
 
  <Steps
    isReversed
    title="Discover what we do!"
    subtitle="Step into any aspect of plane production that interests you"
    items={[
      {
        title: 'Design',
        description:
          'Each year, new constraints are required for our plane, giving us ample opportunity to come up with creative solutions. \
          Our team utilizes CAD and other software to optimize our plane!',
        icon: 'tabler:ruler',
      },
      {
        title: 'Build',
        description:
          'With access to the entirety of the Mechanical Engineering department\'s tools, we piece together our plane to turn it form \
          dream to reality.',
        icon: 'tabler:hammer',
      },
      {
        title: 'Fly',
        description:
          'Finally, we put our plane to the test! It may be more apt to call this step \'Crash,\' but each crashed prototype is experience \
          for both our flyers and designers to utilize for the next prototype.',
        icon: 'tabler:plane-departure',
      },
    ]}
    image={{
      src: '~/assets/images/attaching_wing.jpg',
      alt: '2024 competition flight',
    }}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Members', amount: '5' },
      { title: 'Alumni', amount: '2' },
      { title: 'Funding', amount: '$1,500' },
    ]}
  />

  <!-- Add info on meeting times/location -->
  <Contact>
    <!-- Contact page -->
  </Contact>
  <Features2>
    <!-- Add sponsors list -->
  </Features2>
</Layout>
