---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Know The Team',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
    <h1>Here's our plans for 2025...</h1>
</Layout>