---
import { Image } from 'astro:assets';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

import designdaypic from '~/assets/images/designday_2025.png'
import caddrawing from '~/assets/images/plane_drawing_2025.png'
import competitionpreflight from '~/assets/images/team_plane_2025.jpg'
import heroplane from '~/assets/images/plane_2025.jpg';

const metadata = {
  title: 'Competition 2025',
};
---

<Layout metadata={metadata}>
  <Hero
    image={{ src: heroplane, alt: '2025 plane in flight' }}
  >
    <Fragment slot="title">
      Competition 2025
    </Fragment>
    <Fragment slot="subtitle">
      The Freedom Fighter
    </Fragment>
  </Hero>
  <Stats
    stats={[
      { icon: 'tabler:users', title: 'Active Members', amount: '10' },
      { icon: 'tabler:currency-dollar', title: 'Funding', amount: '$8,000' },
      { icon: 'tabler:medal-2', title: 'out of 159 teams', amount: '49th' },
      { icon: 'tabler:map-2', title: 'Arizona', amount: 'Tuscon' },
    ]}
  />

  <div class="flex justify-between flex-col max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
    <div class="mx-auto sm:px-6 max-w-3xl px-6 mt-8 dark:prose-a:text-blue-400 dark:prose-headings:text-slate-300 dark:prose-invert lg:prose-xl prose prose-a:text-primary prose-headings:font-bold prose-headings:font-heading prose-headings:leading-tighter prose-headings:scroll-mt-[80px] prose-headings:tracking-tighter prose-img:rounded-md prose-img:shadow-lg prose-li:my-0 prose-md text-justify">
      <p>
        Placing in the top 1/3 of the competition, we are extremely proud of our results for the 2025 competition. Despite the plane crashing on the first day, our team was able to rebuild it before the second. We were ultimately able to fly for both mission 1 and 2, showing incredible improvement from the year before.
      </p>
      <div class="flex flex-col items-center">
        <Image
          src={competitionpreflight}
          alt="Flying at Competition"
        />
        <p class="text-sm p-0 m-0 w-5/6 relative">
          Here's a picture of the team with the competition plane!
        </p>
      </div>
      <p>
        Three missions guided our design process. Those missions were...
        <ul>
          <li>Mission 1 (Delivery Flight): The plane must complete 3 laps within 5 minutes</li>
          <li>Mission 2 (Captive Carry Flight): Same flight, but with fuel tanks and X-1 test vehicle attached. Score is calculated as a function of weight being held by the bottles.</li>
          <li>Mission 3 (Launch Flight): With the fuel tanks attached, the plane must successfully drop the X-1 test vehicle and complete a lap after.</li>
        </ul>
      </p>
      <p>
        The CAD shown below displays our design, intended to maximize performance in all three missions.
      </p>
      <div class="mb-4">
        <Image
        src={caddrawing}
        alt="CAD drawing of 2025 plane"
        class="object-cover"
        />
      </div>
      <p>
        We were happy to see significant improvement from previous competitions this year! Our team learned many valuable lessons involving the design and manufacturing of the plane. Despite the setbacks and limited resources, we were able to perform well. We are excited to show even more leaps of better performance next year.
      </p>

      <p>Below is our Design Day poster, presented at an engineering fair at the end of the school year.</p>
      <div class="mb-4">
        <Image
        src={designdaypic}
        alt="Design Day Poster Board"
        class="object-cover"
        />
      </div>

    </div>
  </div>
</Layout>